{
  "presets": [
    "react-app"
  ],
  "plugins": [
    ["import",  { "libraryName": "antd", "libraryDirectory": "es" }],
    "transform-decorators-legacy"
  ],
  "env": {
    "test": {
      "plugins": [
        ["import",  { "libraryName": "antd" }]
      ]
    }
  }
}