{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": "off",
    "react/prop-types": "off",
    "global-require": "off",
    "no-use-before-define": "off",
    "consistent-return": "off",
    "react/prefer-stateless-function": "off",
    "jsx-a11y/label-has-for": "off",
    "react/jsx-one-expression-per-line": "off",
    "import/prefer-default-export": "off",
    "react/destructuring-assignment": "off",
    "arrow-body-style": "off",
    "no-plusplus": "off",
    "react/require-default-props": "off",
    "react/no-children-prop": "off",
    "react/jsx-no-bind": "off",
    "no-throw-literal": "off",
    "no-underscore-dangle": "off",
    "no-unused-expressions": "off",
    "react/sort-comp": ["error", {
      "order": [
        "static-methods",
        "instance-variables",
        "lifecycle",
        "/^handle.+$/",
        "getters",
        "setters",
        "/^(get|set)(?!(InitialState$|DefaultProps$|ChildContext$)).+$/",
        "instance-methods",
        "everything-else",
        "rendering"
      ]
    }]
  }
}
