.root{
  height: 100vh;
  overflow: hidden;
}
.sider{
  background: rgb(63, 81, 181);
}
.header{
  background: #fff;
  border-bottom: 2px solid #ccc;
}
.content{
  position: relative;
  background: #fff;
}